
.achievements {
    padding-bottom: 30px;
}

.achievements__list {
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-right: -15px;
    margin-bottom: 30px;
}

.achievements__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.achievements__btn {
    white-space: nowrap;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #B3B3BA;
    margin-right: 30px;
}

.achievents__content-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.achievents__content-text {
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
}

.achievements__btn--active {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.achievements__btn:hover {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.achievents__content {
    border-top: 4px solid rgba(255, 255, 255, 0.3);;
}

@media screen and (min-width: 768px) { 
    .container {
        padding: 0 60px;
    }
}

@media screen and (min-width: 992px) {
    
    .achievements {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .achievements__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: visible;
        padding-bottom: 10px;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
    }

    .achievents__content {
        border-top: none;
        margin-left: 60px;
        max-width: 600px;
        
    }
    .achievents__content-item {

    }
    .achievements__btn {
        padding: 15px 0;
    }

    
}