.anchor {
    display: flex;  
    justify-content: space-around;
    align-self: auto;
    &:hover circle {
        stroke: $colorpink;
    }
    &:hover path {
        stroke: $colorpink;
    }
}


