.footer {
    // &__credits {
    // }
    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-location {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-direct {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__address {
        font-size: 16px;
        line-height: 20px;
        color: $colorblue;
        margin-bottom: 10px;
    }
    &__map {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorblueregular;
        margin-bottom: 21px;
        &:hover {
            color: $colorpink;
        }
    }
    &__phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $colordarkgrey;
        margin-bottom: 10px;
    }
    &__facebook {
        margin-bottom: 7px;
        &:hover svg path {
            fill: $colorpink;
            stroke: $colorpink;
        }
    }
    &__mail {
        font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $colorblueregular;
    margin-bottom: 30px;
    &:hover {
        color: $colorpink;
    }
    }
    &__corp {
        font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $colorgreytext;
    }
    &__credits {
        border-top: 2px solid #E6E6F0;
        padding-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding-bottom: 30px;
        &__credits {
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            display: grid;
            grid-template-columns: max-content max-content;
            grid-template-rows: max-content max-content; 
            &-grey {
                display: flex;
                flex-direction: column;
                padding-left: 125px;
            }
        }
        &__address::after {
            content: "";
            display: inline-block;
            background: $colorgreytext;
            border-radius: 50%;
            height: 6px;
            width: 6px;
            vertical-align: middle;
            margin: 0 8px 0;
        }
        &__contact {
            flex-direction: column;
            align-items: flex-start;
            &-location {
                flex-direction: row;
                align-items: center;
                padding-bottom: 10px;
            }
            &-direct {
                flex-direction: row;
                align-items: center;
            }
        }
        &__map {
            margin-bottom: 8px;
        }
        &__phone {
            margin-bottom: 0;
            &::after {
                content: "";
                display: inline-block;
                background: $colorgreytext;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                vertical-align: middle;
                margin: 0 10px 0;
            }
            &::before {
                content: "";
                display: inline-block;
                background: $colorgreytext;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                vertical-align: middle;
                margin: 0 10px 0;
            }
            
        }
        &__facebook {
            margin-bottom: 0;
        }
        &__mail {
        margin-bottom: 0;
        }
        &__corp {
            font-size: 15px;
            &-grey {
                text-align: start;
                font-size: 16px;
                padding-left: 60px;
                margin-top: 26px;
            }
        }

    }   
}

@media screen and (min-width: 992px) {
    .footer {
  
        &__credits {
            justify-content: space-between;
            &-grey {
                display: grid;
                grid-template-columns: max-content max-content;
                grid-template-rows: max-content max-content; 
                justify-content: space-between;
                padding-left: 0;
            }
        }
        &__corp-grey {
            margin-top: 0px;
        }
        

        &__contact {
            &-location {
                padding-bottom: 8px;
            }
            
        }
    }

}