.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    position: relative;
    &__address,
    &__facebook,
    &__menu-list { 
        display: none;
    }
    &__main-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    &__menu-list {
        position: absolute;
        right: -100%;
        top: 0;
        background-color: $colorwhite;
        border-radius: 12px 12px 0px 0px;
        overflow: hidden;
    }
    &__language-switch {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;    
        color: $colorwhite;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px 7px;
        &:focus {
            background-color: $colorpink;
            border-radius: 8px;
        }
        &:hover {
            background: $colorgreyish;
            border-radius: 8px;
        }
    }
    &__extra {
        display: none;
    }
    &__phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $colorwhite;
        text-decoration: none;
    }
    &__line {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 0;
    }
    &__logo-box {
        display: flex;
        padding: 15px 0 10px;
    }
    &__menu-btn {
        background: none;
        border: none;
        padding: 12px 0 12px;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        &__address,
        &__facebook,
        &__menu-list { 
            display: block;
        }
        &__facebook:hover svg path {
            fill: $colorpink;
            stroke: $colorpink;
        }
        &__address {
            font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $colorwhite;
            &::after {
                content: "";
                display: inline-block;
                background: $colorgreysep;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                vertical-align: middle;
                margin: 0 6px 0;
            }
        }
        &__main-menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
        }
        &__menu-list {
            display: flex;
            padding: 0;
            list-style: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right; 
            position: static;
            background-color: transparent;
            border-radius: none;
        }
        &__language::after {
            content: "";
            display: inline-block;
            background: $colorgreysep;
            border-radius: 50%;
            height: 6px;
            width: 6px;
            vertical-align: middle;
            margin: 0 6px 0;
        }
        &__language-switch {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;    
            color: $colorwhite;
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px 7px;
            &:focus {
                background-color: $colorpink;
                border-radius: 8px;
            }
            &:hover {
                background: $colorgreyish;
                border-radius: 8px;
            }
        }
        &__extra {
            display: none;
        }
        &__phone {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: $colorwhite;
            text-decoration: none;
                &::after {
                    content: "";
                    display: inline-block;
                    background: $colorgreysep;
                    border-radius: 50%;
                    height: 6px;
                    width: 6px;
                    vertical-align: middle;
                    margin: 0 6px 0;
                }
        }
        &__line {
            justify-content: flex-start;
        }
        &__logo-box {
            display: flex;
            padding: 15px 0 10px;
        }
        &__menu-btn {
            display: none;
        }
        &__logo {
            width: 130px;
            height: 60px;
        }
        &__menu-name {
            margin-right: 15px;
            &:hover {
                border-bottom: 2px solid $colorwhite;
                padding-bottom: 3px;
            }
            &:active {
                color: #F0145A;
                border-bottom: 2px solid $colorpink;
                padding-bottom: 3px;
            }
            
        }
    }
}



@media screen and (min-width: 992px) {
    .header {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content;
        &__logo-box {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            align-self: center; 
        }
        &__line {
            grid-column: 2 / -1;
            grid-row: 1 / 2;
            justify-content: flex-end;
        }
        &__main-menu {
            justify-self: end;
        }
    }
}