.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    position: relative;
    &__address,
    &__address-grey,
    &__facebook { 
        display: none;
    }
    &__language {
        z-index: 1;
    }
    &__main-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    &__menu-list {
        display: none;
        position: absolute;
        right: -10%;
        top: 43px;
        background-color: $colorwhite;
        width: 350px;
        border-radius: 12px;
        padding: 12px;
        padding-top: 52px;
        & li {
            list-style: none;
            background-color: #F5F5FA;
            border-radius: 12px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            margin-bottom: 15px;
            padding: 7px 0;
        }
    }
    &__language-switch {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;    
        color: $colorwhite;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px 5px;
        &:focus {
            background-color: $colorpink;
            border-radius: 8px;
        }
        &:hover {
            background: $colorgreyish;
            border-radius: 8px;
        }
        &--active {
            background-color: $colorpink;
            border-radius: 8px;
        }
        &-grey {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;    
            color: #b3b3ba;
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px 5px;
            &:focus {
                background-color: $colorpink;
                border-radius: 8px;
                color: #FFFFFF;
                }
            &:hover {
                    background: grey;
                    border-radius: 8px;
                }
            &--active {
                    background-color: $colorpink;
                    border-radius: 8px;
                    color: #FFFFFF;
                }
        }
    }
    &__extra {
        display: none;
    }
    &__phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $colorwhite;
        text-decoration: none;
        z-index: 1;
        &:hover {
            color: $colorpink;
        }
        &-grey {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #B3B3BA;;
            text-decoration: none;
            z-index: 1;
            &:hover {
                color: $colorpink;
        }
        }
    }
    &__line {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        padding: 7px 0 12px 0;
        margin-bottom: 10px;

    }
    &__logo-box {
        display: flex;
        // padding: 15px 0 10px;
        & a {
            margin-top: 5px;
        }
    }
    &__menu-btn {
        background: none;
        border: none;
        // padding: 12px 0 12px;
        cursor: pointer;

        &:hover {
            // width: 32px;
            // height: 32px;
            background: rgba(230, 230, 240, 0.2);
            border-radius: 8px;
        }
        & svg {
            vertical-align: middle;
        }
        &-grey {
            background: none;
        border: none;
        // padding: 12px 0 12px;
        cursor: pointer;

        &:hover {
            // width: 32px;
            // height: 32px;
            background: #E6E6F0;
            border-radius: 8px;
        }
        & svg {
            vertical-align: middle;
        }
        }
    }

    &__menu-name {
        color: $colorblueregular;
    }
}

@media screen and (min-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        &__address,
        &__address-grey,
        &__facebook,
        &__menu-list { 
            display: block;
        }
        &__facebook:hover svg path {
            fill: $colorpink;
            stroke: $colorpink;
        }
        &__address {
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: $colorwhite;
            &::after {
                content: "";
                display: inline-block;
                background: $colorgreysep;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                vertical-align: middle;
                margin: 0 6px 0;
            }
            &-grey {
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                color: #B3B3BA;
                &::after {
                    content: "";
                    display: inline-block;
                    background: $colorgreysep;
                    border-radius: 50%;
                    height: 6px;
                    width: 6px;
                    vertical-align: middle;
                    margin: 0 6px 0;
                }
            }
        }
        &__main-menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
        }
        &__menu-list {
            display: flex;
            padding: 0;
            list-style: none;
            position: static;
            background-color: transparent;
            border-radius: none;
            width: 100%;
            & li {
                background-color: transparent;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                margin: 0;
            }
        }

        &__language::after {
            content: "";
            display: inline-block;
            background: $colorgreysep;
            border-radius: 50%;
            height: 6px;
            width: 6px;
            vertical-align: middle;
            margin: 0 5px 0 0;
        }
        &__language-switch {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;    
            color: $colorwhite;
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px 6px;
            &:focus {
                background-color: $colorpink;
                border-radius: 8px;
            }
            &:hover {
                background: $colorgreyish;
                border-radius: 8px;
            }
        }
        &__extra {
            display: none;
        }
        &__phone {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: $colorwhite;
            text-decoration: none;
                &::after {
                    content: "";
                    display: inline-block;
                    background: $colorgreysep;
                    border-radius: 50%;
                    height: 6px;
                    width: 6px;
                    vertical-align: middle;
                    margin: 0 6px 0;
                }

        }
        &__line {
            justify-content: flex-start;
            padding: 24px 0 0 0;
            margin-bottom: 0;
        }
        &__logo-box {
            display: flex;
            padding: 20px 0 18px;
        }
        &__menu-btn,
        &__menu-btn-grey {
            display: none;
        }
        &__logo {
            width: 130px;
            height: 60px;
        }
        &__menu-name {
            margin-right: 16px;
            color: $colorwhite;
            &:hover {
                border-bottom: 2px solid $colorwhite;
                padding-bottom: 3px;
            }
            &:active {
                color: #F0145A;
                border-bottom: 2px solid $colorpink;
                padding-bottom: 3px;
            }
            &-blue {
                margin-right: 16px;
                color: #24A3FF;
                &:hover {
                    border-bottom: 2px solid #24A3FF;
                    padding-bottom: 3px;
                }
                &:active {
                    color: #F0145A;
                    border-bottom: 2px solid $colorpink;
                    padding-bottom: 3px;
                }
            }
            
        }
    }
}



@media screen and (min-width: 992px) {
    .header {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content;
        &__logo-box {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            align-self: center; 
            padding: 19px 0 6px;
        }
        &__line {
            grid-column: 2 / -1;
            grid-row: 1 / 2;
            justify-content: flex-end;
            padding: 26px 0px 0px 0px;
        }
        &__main-menu {
            justify-self: end;
        }
        &__phone::after {
            margin: 0 5px 0 6px;
        }
        &__language::after {
            margin: 0 4px 0 0;
        }
        &__address::after {
            margin: 0 7px 0 6px;
        }
        &__menu-name {
            margin: 0 0 0 15px
        }
        &__menu-list li {
            padding: 0;
        }
    }
}