.link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $colorblueregular;
    &::after {
        content: '';
        border: solid $colorblueregular;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-left: 3px;
    }
    &:hover {
        color: $colorbluehover;
    }
    &:active {
        color: $colorblueactive;
    }
}


@media screen and (min-width: 768px) {
    .link::after {
        margin-left: 0px;
    }
            
}



