.partners {
    &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 120px);
}   
    &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $colorblue;
    text-align: center;
    }
    &__hillel {
        display: block;
        margin: auto;
        padding: 36px 0;
        &--bg{
            background-color:  $colorhillel;
        }
    }

    &__wannabiz {
        display: block;
        margin: auto;
        padding: 44px 0;
        &--bg{
            background-color:$colorwanna;
        }
    }

    &__tapgerine {
        display: block;
        margin: auto;
        padding: 38px 0;
        &--bg {
            background-color: $colortanger;
        }
    }

    &__3dlook {
        display: block;
        margin: auto;
        padding: 39px 0;
        &--bg {
            background-color:$color3dlook;
        }
    }

    &__orangear {
        display: block;
        margin: auto;
        padding: 38px 0;
        &--bg {
            background-color:$colororange;
        }
    }

    &__adtelligent {
        display: block;
        margin: auto;
        padding: 36px 0;
        &--bg {
            background-color:$coloradtel;
        }
    }

    &__clickky {
        display: block;
        margin: auto;
        padding: 30px 0;
        &--bg {
            background-color:$colorclickky;
        }
    }

    &__ecolease {
        display: block;
        margin: auto;
        padding: 22px 0;
        &--bg {
            background-color:$colorecolease;
        }
    }

    &__infratek {
        display: block;
        margin: auto;
        padding: 30px 0;
        &--bg {
            background-color:$colorinfratek;
        }
    }

    &__citypark {
        display: block;
        margin: auto;
        padding: 41px 0;
        &--bg {
            background-color: $colorcity;
        }
    }

    &__artprint {
        display: block;
        margin: auto;
        padding: 37px 0;
        &--bg {
            background-color:$colorartprint;
        }
    }

    &__ultimatecard {
        display: block;
        margin: auto;
        padding: 13px 0;
        &--bg {
            background-color:$colorblack;
        }
    }

}
.partners--hidden {
    display: none;
}

@media screen and (min-width: 768px) { 
    .partners--hidden {
        display: contents;
    }
    .partners {
        &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 120px);
        }   
    }

}

@media screen and (min-width: 992px) { 
    .partners--hidden {
        display: contents;
    }
    .partners {
        &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 120px);
        }   
    }

}

@media screen and (min-width: 1201px) { 
    .partners--hidden {
        display: contents;
    }
    .partners {
        &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 120px);
        }   
    }

}