.publications {
    padding: 29px 0;
    &__name {
        padding-top: 5px;
    }
    &__list {
        margin: -15px 0;
        padding-top: 28px;
    }
    &__item {
        width: 100%;
        padding: 15px 0;
        &-box {
            height: auto;
            background-color: $colorwhite;
            border-radius: 8px;
        }
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $colorblueregular;
            margin-bottom: 15px;
            &:hover {
                color: $colorbluehover;
            }
            &:active {
                color: $colorblueactive;
            }
        }
        &-data {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $colorgreytext;
            margin-bottom: 15px;
        }
        &-text {
            font-size: 14px;
            line-height: 22px;
            color: $colorblackzero;
            border-top: 4px solid $colorgreysep;
            padding-top: 15px;
        }
    }
    &__text {
        padding: 30px;
    }
    &__pic {
        border-radius: 8px 8px 0 0;
        width: 100%;
        object-fit: cover;
        display: block;
        height: 200px
    }

}


@media screen and (min-width: 768px) {
    .publications {
        &__wrapper {
            display: flex;
        }
        &__name {
            padding-top: 10px;
        }
        &__list {
            display: flex;
            flex-direction: column;
            margin: -15px -15px;
        }
        &__item {
            padding: 15px 15px;
            &-box {
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .publications {
        &__wrapper {
            display: contents;
        }
        &__list {
            flex-direction: row;
            padding-top: 29px;
        }
        &__item {
            width: 100%;
        }       
    }
}

