.services {
    &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 30px;
}

    // &__name {
    //     font-weight: 700;
    //     font-size: 30px;
    //     line-height: 37px;
    //     background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     // margin-top: 0;
    // }
    &__icon {
        background: $colorwhite;
        border-radius: 24px;
        padding: 14px;
        display: inline-block;
        margin-top: 0;
    }
    &__item-name {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: $colorblueregular;
    }
    &__item-about {
        font-size: 16px;
        line-height: 26px;
        color: $colorwhite;
    }
}

@media screen and (min-width: 768px) {
    .services {
        padding-bottom: 60px;
        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 60px;
            column-gap: 60px;
        }
        // &__item {
           
        // }
    }
}

@media screen and (min-width: 992px) {
    .services {
        &__link {
            margin-bottom: 10px;
        }
        padding-bottom: 60px;
        &__list {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

// @media screen and (min-width: 1201px) {

// }