.services {
    &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, min-content);
    row-gap: 30px;
}

    &__name {
        margin-bottom: 31px;
        margin-top: 7px;
    }
    &__icon {
        background: $colorwhite;
        border-radius: 24px;
        display: inline-block;
        padding: 12px 14px;
        margin-bottom: 29px;
    }
    &__item-name {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: $colorblueregular;
        &:hover {
            color: #0085FF;
        }
        &:active {
            color: #006CCF;
        }
    }
    &__item-about {
        font-size: 16px;
        line-height: 26px;
        color: $colorwhite;
        margin-top: 16px;
    }
}

@media screen and (min-width: 768px) {
    .services {
        padding-bottom: 60px;
        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, min-content);
            row-gap: 60px;
            column-gap: 60px;
        }
        &__name {
            margin-top: 9px;
            margin-bottom: 60px;
        }
        // &__item {
           
        // }
    }
}

@media screen and (min-width: 992px) {
    .services {
        &__link {
            margin-bottom: 10px;
        }
        padding-bottom: 60px;
        &__list {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        &__name {
            margin-bottom: 58px;
        }
    }
}

@media screen and (min-width: 1201px) {
    .services {
        &__name {
            margin-top: 10px;
            margin-bottom: 60px;
        }
    }

}