.slider {
    margin-top: 49px;
    margin-bottom: 60px;
    &__name {
        margin-top: 3px;
        margin-bottom: 31px;
    }
    &__page {
        background-color: $colorgreybg;
        border-radius: 12px;
        margin-bottom: 23px;
    }
    &__info {
        padding: 30px;
    }
    &__pic {
        height: 500px;
        width: 100%;
        object-fit: cover;
        border-radius: 12px 12px 0px 0px;
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $colorgreytext;
        margin-bottom: 5px;
        &-extra {
            font-size: 14px;
            line-height: 22px;
            color: $colorgreytext;
        }
    }
    
}


@media screen and (min-width: 768px) {
    .slider {
        &__page {
        margin-top: 30px;;
        }
    }

}


@media screen and (min-width: 992px) {
    .slider {
        &__page-wrapper {
            display: flex;
        }
        &__pic {
            border-radius: 12px 0px 0px 12px;
            width: 400px;
            height: auto;
        }
    } 
}


@media screen and (min-width: 1201px) {
    .slider {
        margin-bottom: 58px;
        &__pic {
            width: 100%;
            height: 345px;
        }
        &__info {
            padding: 29px 50px 30px 30px;
        }
    } 
}


