
.slider {
    margin-top: 100px;
    margin-bottom: 60px;
    &__page {
        background-color: #F5F5FA;
        border-radius: 12px;
        // display: flex;
        // flex-direction: column;
    }
    &__info {
        padding: 30px;
    }
    &__pic {
        height: 500px;
        width: 100%;
        object-fit: cover;
        border-radius: 12px 12px 0px 0px;
    }
    // &__name {
    //     font-weight: 700;
    // font-size: 38px;
    // line-height: 46px;
    // background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // }
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
        &-extra {
            font-size: 14px;
            line-height: 22px;
            color: #B3B3BA;
        }
    }
    
}

// @media screen and (min-width: 768px) {

// }

@media screen and (min-width: 992px) {
.slider {
    &__page {
        display: flex;
    }
}
        
}