.slider-two {
    
    padding-bottom: 16px;
    &__wrapper {
        background: #FFFFFF;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1px;
        min-height: 90px;
        min-width: 255px;
        margin-left: -10px;
    }
    &__page {
        margin: 0 40px;
    }
    &__pic {
        padding: 25px 0;
        
    }
    &__text {
        text-align: center;
        padding: 30px 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
    }
}


@media screen and (min-width: 768px) {
    .slider-two{
        &__wrapper {
            min-width: 132px;
            min-height: 90px; 
            justify-content: space-evenly;
        }
        &__pic {
            width: 100%;
            padding: 25px 10px;
            &-first {
                padding: 25px 40px;
            }
        }
        &__page {
            margin-bottom: 20px;

        }

    }

}

@media screen and (min-width: 992px) {
    .slider-two{
        &__wrapper {
            min-width: 196px;
            height: 110px; 
        }
        &__pic {
            width: auto;
            &-first {
                
            }
        }
        &__page {
          
        }
    }

}


@media screen and (min-width: 1201px) {
    .slider-two{
        &__wrapper {
            min-width: 300px;
        }
        &__pic {

            &-first {
                
            }
        }
        &__page {
          
        }
    }

}

