.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    height: 114px;

}