$colorblue: #323264;
$colordarkgrey: #46466E;
$colorgrey: #686887;
$colorpink: #F0145A;
$colorblueregular: #24A3FF;
$colorbluehover: #0085FF;
$colorblueactive: #006CCF;
$colorgreybg: #F5F5FA;
$colorgreybgalt: #EDEDF7;
$colorgreytext: #B3B3BA;
$colorgreysep:#E6E6F0;
$gradientdark: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradientsoft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradientred: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradientsupersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradientredtext: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$bordergrey: rgba(255, 255, 255, 0.3);
$colorgreyish: rgba(255, 255, 255, 0.2);
$colorbggrey: rgba(36, 163, 255, 0.2);
$colorbgslide: rgba(36, 163, 255, 1);
$colorwhite: #FFFFFF;
$colorblack: black;
$coloralmostwhite: #CACADB;
$coloreee: #E7E7F2;
$colorhillel: #1C4280;
$colorwanna: #143646;
$colortanger: #F48B30;
$color3dlook: #9E4DC3;
$colororange: #FD9339;
$coloradtel: #E2E2E4;
$colorclickky: #C71C36;
$colorecolease: #DCF3F9;
$colorinfratek: #EAEAEA;
$colorcity: #282240;
$colorartprint: #1D4568;